/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}

/* end reset */
:root {
    --text-color: rgb(27, 27, 27);
    --border-color: var(--text-color);
}

/* Utility Classes */
.visually-hidden {
    border-width: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}

/* Flatpickr Import */
@import url('~flatpickr/dist/flatpickr.css');

/* Input Styles */
input[type='text'],
input[type='date'],
input[type='number'],
input[type='email'],
input[type='password'] {
    width: 100%; /* Full width */
    padding: 2px 10px;
    border: none;
    border-bottom: 1px solid var(--border-color);
    margin: 0;
    background-color: transparent;
    color: var(--text-color);
    outline: none;
}

/* Calendar Table Layout */
.calendar-table {
    width: 1200px;
    height: 800px;
}

.calendar-element {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 20px;
}

/* Header Container */
.header-container {
    display: flex;
    width: 100%;
    color: var(--text-color);
    text-align: center;
    font-weight: bold;
    justify-content: space-around;
}

/* Header Elements */
.header-title,
.header-description,
.header-due,
.header-priority,
.header-timestamp {
    font-weight: bold;
}

.title,
.header-title {
    font-weight: bold;
    width: 26ch;
}
.header-description,
.description > input {
    width: 70ch;
}
.date-picker {
    width: 160px;
    text-align: center;
    justify-content: center;
    margin: 0;
}

.header-due,
.date-text > input {
    height: 29px;
    text-align: center;
    width: 160px;
}

.flatpickr-input.active {
    box-sizing: border-box;
    border-bottom: none;
    padding: 0px;
    margin: 0;
}

.flatpickr-input.active > .date-text {
    position: relative;
}

.description > input,
.title > input,
.flatpickr-input,
.flatpickr-input:active,
.date-text > input {
    background-color: transparent;
    color: var(--text-color);
    outline: none;
    outline-style: none;
    outline-offset: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid rgb(28, 28, 28) 1px;
    padding: 2px 10px;
    margin: 0px 4px;
}

.header-priority,
.priority-slider {
    position: relative;
    width: 170px;
}

.priority-boxes {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 2px 0;
    width: 120px;
}

.box {
    position: relative;
    top: 6px;
    width: 14px;
    height: 14px;
    border: 2px solid #372ea5;
    margin-right: 5px;
    border-radius: 2px;
    cursor: pointer; /* corrected this */
    transition: background 0.3s ease;
    z-index: 2;
}

.box:not(:last-child) {
    margin-right: 5px; /* apply margin to all boxes except the last one */
}

/* Styling the slider */
#priority-slider-1 {
    position: absolute;
    height: 4px;
    z-index: 1;
    cursor: pointer;
    appearance: none;
    background-color: transparent;
    border: none;
    opacity: 0;
    pointer-events: none;
    border-radius: 2px;
    outline: none;
}

.timestamp {
    position: relative;
    top: 3px;
}
