/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}

/* end reset */
/* Use a system font for a 'brutalist' look */
/* General Layout */
:root {
    --shadow-color: 0deg 0% 60%;
    --shadow-elevation-low: 0px -0.5px 0.6px hsl(var(--shadow-color) / 0.38),
        0px -0.8px 0.9px -1.2px hsl(var(--shadow-color) / 0.38),
        -0.1px -2.1px 2.4px -2.5px hsl(var(--shadow-color) / 0.38);
    --shadow-elevation-medium: 0px -0.5px 0.6px hsl(var(--shadow-color) / 0.4),
        -0.1px -1.7px 1.9px -0.8px hsl(var(--shadow-color) / 0.4),
        -0.1px -4.3px 4.8px -1.7px hsl(var(--shadow-color) / 0.4),
        -0.3px -10.5px 11.8px -2.5px hsl(var(--shadow-color) / 0.4);
    --shadow-elevation-high: 0px -0.5px 0.6px hsl(var(--shadow-color) / 0.37),
        -0.1px -3.2px 3.6px -0.4px hsl(var(--shadow-color) / 0.37),
        -0.2px -5.9px 6.6px -0.7px hsl(var(--shadow-color) / 0.37),
        -0.3px -9.8px 11px -1.1px hsl(var(--shadow-color) / 0.37),
        -0.5px -15.7px 17.7px -1.4px hsl(var(--shadow-color) / 0.37),
        -0.8px -24.5px 27.6px -1.8px hsl(var(--shadow-color) / 0.37),
        -1.2px -37.3px 42px -2.1px hsl(var(--shadow-color) / 0.37),
        -1.8px -55px 61.9px -2.5px hsl(var(--shadow-color) / 0.37);
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.4;
    background-color: #fff; /* Assuming a white background */
    color: #000; /* Black color text for high contrast */
    margin: 0 60px;
    overflow-x: hidden;
}

/* Grid Layout */
.grid-wrap {
    width: 80vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        'nav tab tab tab tab'
        'nav cal cal cal cal'
        'nav cal cal cal cal'
        'nav cal cal cal cal'
        'nav cal cal cal cal'
        'nav cal cal cal cal';
}

#navbar {
    width: 160px;
    grid-area: nav;
}

.to-do.table {
    grid-area: cal;
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 800px;
}

/* Tabholder and tabs */
#tabholder {
    height: 160px;
    padding-bottom: 32px;
    grid-area: tab;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: visible;
    z-index: 0;
    margin-right: 150px;
}

.tab {
    min-width: 80px;
    text-align: center;
    margin: 0 8px;
    padding: 0 10px;
    background-color: white;
    box-shadow: var(--shadow-elevation-medium);

    /* Flex properties*/
    flex-basis: 110px;
    flex-grow: 0;
    flex-shrink: 1;
}

.tab input[type='text'] {
    text-align: center;
    border: none;
}

/* .new-tab {
    position: relative;
    width: 24px;
    height: 22px;
    right: 20px;
    background-image: url(/node_modules/@tabler/icons/icons/new-section.svg);
} */

.arrow {
    order: -1;
    z-index: 2;
    position: relative;
    right: 8px;
    min-width: 24px;
    height: 22px;
    background-image: url(/node_modules/@tabler/icons/icons/arrow-bar-right.svg);
    transition: 0.1s ease-in-out;
}

.arrow:hover {
    transform: scale(1.1);
    background-color: lightgrey;
    box-shadow: 0 0 2px 2px lightgrey;
}

.arrow:active {
    transform: scale(0.9);
    background-color: white;
    box-shadow: none;
}

/* Header and Calendar Cell Styling */
.header-container,
.to-do-row {
    display: flex;
    justify-content: space-between;
}

.header-container > div,
.to-do-cell {
    margin: 0 8px;
    font-weight: bold;
    text-align: left;
    width: 100%;
}

.to-do-cell {
    font-weight: normal;
    padding: 8px 0;
}

/* Input Fields Styling */

input[type='text'] {
    text-align: left;
}

input[type='text'],
.date-picker.flatpickr-input {
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #000; /* Underline for inputs */
    width: 100%;
}

.date-picker.flatpickr-input {
    height: 33.4px; /* Subtract padding from top to equal underline height of other inputs */
    cursor: grab;
}

.flatpickr-input.to-do-cell {
    padding: 8px 0 0;
}

.date-picker > input,
input[type='text'] {
    cursor: pointer;
}

/* Priority Box Styling */
div.priority-boxes,
.priority-boxes {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 2px 0;
    width: 120px;
    gap: 5px;
    cursor: pointer;
}

.box {
    position: relative;
    top: 5px;
    width: 14px;
    height: 14px;
    border: 2px solid #372ea5;
    border-radius: 2px;
    cursor: pointer;
    transition: background 0.3s ease;
    z-index: 2;
}

/* Priority Slider Styling */
.priority-slider input[type='range'] {
    width: 100%;
    background: transparent;
    position: absolute;
    height: 4px;
    z-index: 1;
    cursor: pointer;
    appearance: none;
    background-color: transparent;
    border: none;
    opacity: 0;
    pointer-events: none;
    border-radius: 2px;
    outline: none;
}

/* Checkbox Styling */
.header-check,
.complete-task,
input[type='checkbox'] {
    position: relative;
    display: flex;
    justify-content: center;
    width: 24px;
    max-width: 24px;
}

.complete-task {
    max-width: 24px;
}

.header-check input[type='checkbox'] {
    opacity: 0.7;
    pointer-events: none;
    display: flex;
    justify-content: center;
}

.header-check {
    display: flex;
    width: 18px;
    justify-content: center;
    padding: 3px;
}

/* New To-Do Button */
.new-to-do {
    position: relative;
    min-width: 24px;
    width: 24px;
    height: 24px;
    top: 9px;
    right: 20px;
}

.to-do-row > .new-to-do {
    border: none;
    color: none;
    background-color: white;
    background-image: url(/node_modules/@tabler/icons/icons/text-plus.svg);
    transition: 0.1s ease-in-out;
}

.to-do-row > .new-to-do:hover {
    transform: scale(1.1);
    background-color: lightgrey;
    box-shadow: 0 0 2px 2px lightgrey;
}

.to-do-row > .new-to-do:active {
    transform: scale(0.9);
    background-color: white;
    box-shadow: none;
}

/* Miscellaneous */

/* Collapse structure, hie component */
.visually-hidden {
    border-width: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}

/* Retain structure, hide component */
.disappear {
    visibility: hidden;
}

.header-priority {
    position: relative;
    left: 14px;
}

/* Max Width Settings */
.header-priority,
.priority-slider {
    max-width: 130px;
}

.header-due,
.date-picker {
    max-width: 150px;
}

.header-title,
.title {
    max-width: 220px;
}

.header-description,
.description {
    min-width: 440px;
    width: 440px;
}

.new-to-do.header {
    max-width: 20px;
    margin: 0;
}
