/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}

/* end reset */
/* Use a system font for a 'brutalist' look */
/* General Layout */
html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.4;
    background-color: #fff; /* Assuming a white background */
    color: #000; /* Black color text for high contrast */
    margin: 0 60px;
    overflow-x: hidden;
}

/* Grid Layout */
.grid-wrap {
    width: 80vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        'nav tab tab tab tab'
        'nav cal cal cal cal'
        'nav cal cal cal cal'
        'nav cal cal cal cal'
        'nav cal cal cal cal'
        'nav cal cal cal cal';
}

#navbar {
    width: 160px;
    grid-area: nav;
}

#tabholder {
    height: 160px;
    grid-area: tab;
}

.calendar-table {
    grid-area: cal;
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 800px;
}

/* Header and Calendar Cell Styling */
.header-container,
.calendar-element {
    display: flex;
    justify-content: space-between;
}

.header-container > div,
.calendar-cell {
    margin: 0 8px;
    font-weight: bold;
    text-align: left;
    width: 100%;
}

.calendar-cell {
    font-weight: normal;
    padding: 8px 0;
}

/* Input Fields Styling */
input[type='text'],
.date-picker.flatpickr-input {
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #000; /* Underline for inputs */
    width: 100%;
}

.date-picker.flatpickr-input {
    height: 33.4px; /* Subtract padding from top to equal underline height of other inputs */
    cursor: grab;
}

.flatpickr-input.calendar-cell {
    padding: 8px 0 0;
}

.date-picker > input,
input[type='text'] {
    cursor: pointer;
}

/* Priority Box Styling */
div.priority-boxes,
.priority-boxes {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 2px 0;
    width: 120px;
    gap: 5px;
    cursor: pointer;
}

.box {
    position: relative;
    top: 5px;
    width: 14px;
    height: 14px;
    border: 2px solid #372ea5;
    border-radius: 2px;
    cursor: pointer;
    transition: background 0.3s ease;
    z-index: 2;
}

/* Priority Slider Styling */
.priority-slider input[type='range'] {
    width: 100%;
    background: transparent;
    position: absolute;
    height: 4px;
    z-index: 1;
    cursor: pointer;
    appearance: none;
    background-color: transparent;
    border: none;
    opacity: 0;
    pointer-events: none;
    border-radius: 2px;
    outline: none;
}

/* Checkbox Styling */
.header-check,
.complete-task,
input[type='checkbox'] {
    position: relative;
    display: flex;
    width: 24px;
    max-width: 26px;
}

.header-check input[type='checkbox'] {
    opacity: 0.6;
    pointer-events: none;
    display: flex;
    justify-content: center;
}

/* Miscellaneous */
.visually-hidden {
    border-width: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}

.header-priority {
    position: relative;
    left: 14px;
}

/* Max Width Settings */
.header-priority,
.priority-slider {
    max-width: 130px;
}

.header-due,
.date-picker {
    max-width: 100px;
}

.header-title,
.title {
    max-width: 220px;
}

.header-description,
.description {
    min-width: 440px;
    width: 440px;
}
